.event {
  background: white;
  position: absolute;
  top: var(--event-height);

  left: 100px;
  border-radius: 5px;
}

.event::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 1px;
  background: black;
}
