.event {
  background: var(--outer-space);
  position: absolute;
  top: var(--event-height);
  padding: 20px;
  font-family: "Mulish";
  color: var(--antiflash-white);
  font-size: 2rem;

  left: 100px;
}

.event::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 4px;
  background: inherit;
  /* add a circle at the end */
}
