.ruler {
  width: 100px;
  margin: 0px;
  padding: 0px;
  border-right: 4px solid #2f4f4f5e;
}
ol {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.ruler li {
  font-size: 0.625em;
  font-family: "Mulish";
  height: var(--pixelsPerTick);
  color: #2f4f4f;
  text-align: right;
  line-height: var(--pixelsPerTick);
}

.ruler .divisible-by-five {
  font-size: 1em;
  font-weight: bold;
}

.ruler li::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #2f4f4f5e;
  margin-left: 5px;
}

.ruler li.divisible-by-five::after {
  width: 30px;
  transform: scaleY(2); /* Scales height smoothly */
  background-color: #2f4f4f5e;
  font-weight: bold;
  margin-left: 5px;
}
