.ruler {
  width: 20%;
  margin: 0px;
}
ol {
  margin: 0;
  padding: 0px;
}

.ruler li {
  font-size: 0.625em;
  font-family: "Mulish";
  height: 50px;
  color: #2f4f4f;
  text-align: left;
  line-height: 50px;
}

.ruler .divisible-by-five {
  font-size: 1em;
  font-weight: bold;
}

.ruler li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #2f4f4f5e;
  margin-right: 5px;
}

.ruler li.divisible-by-five::before {
  width: 30px;
  transform: scaleY(2); /* Scales height smoothly */
  background-color: #2f4f4f5e;
  font-weight: bold;
  margin-right: 5px;
}
