/* the button and the .sidepanel class should stay in the same place as the user scrolls */

.sidepanel {
  width: 200px;
  position: fixed;
}

/* make a cool looking button */

.options {
  font: 20px;
  background-color: #f1f1f1;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
