.timeline {
  margin-left: 400px;
  height: auto;
  font: 16px/1.5 "Roboto", sans-serif;
  background-color: lightcyan;
  display: flex;
  flex-direction: row;
  position: relative;
  scrollbar-width: none;
  width: 100% - 400px;
}
