.timeline {
  margin-left: var(--sidepanel-width);

  height: auto;
  font: 16px/1.5 "Roboto", sans-serif;
  background-color: lightcyan;
  display: flex;
  flex-direction: row;
  position: relative;
  scrollbar-width: none;
  width: auto;
}

/* on phones the width should be 100% */
@media only screen and (max-width: 600px) {
  .timeline {
    margin-left: 0;
    width: 100%;
  }
}
