.user-added-events {
  margin-left: var(--sidepanel-width);
  font: 16px/1.5 "Roboto", sans-serif;
  height: 100%;
  background: lightcyan;
  color: #2f4f4f;
  width: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
